{% extends 'basefront_dossier.html.twig' %} 
{% block title %} Ajouter votre DossierMedical{% endblock %}


{% block body %}

    <h1>Ajouter votre DossierMedical</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    {{ include('dossier/_form.html.twig') }}
    <center>
    <a href="{{ path('app_dossier_index') }}"><button type="button" class="btn-outline-primary btn-lg w-50 m-2">back to list</button></a>
    </center>
{% endblock %}
