{% extends 'base.html.twig' %}

{% block title %}New Appointment
{% endblock %}
{# oveeriding annoying header #}
{% block header %}
<div class="bg-dark" style="height: 20vh;"></div>
{% endblock %}

{% block body %}
<style>
.custom-container {
  padding: 20px; /* add padding to the container */
  margin: 0 auto; /* center the container horizontally */
  max-width: 1200px; /* set a maximum width for the container */
}
</style>

	<br>
	<br>
	<br>
<div class="custom-container">
<div class="row">
<div class="col-md-12">
	<h3>Book Appointment</h3>
	{{ include('appointment/_form.html.twig') }}

	<a href="{{ path('app_calandar_access_day_index' , { 'id':id }) }}">back to list</a>
</div>
		</div>
	</div>
{% endblock %}
