{% extends 'gestion_blog/back.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index1') }}">back to list</a>

    {{ include('article_admin/_delete_form.html.twig') }}
{% endblock %}
