{% extends 'base.html.twig' %}

{% block title %}Edit CalandarDay
{% endblock %}
{# oveeriding annoying header #}
{% block header %}{% endblock %}

{% block body %}
	<h1>Edit CalandarDay</h1>
	{{ include('calandar_day/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_calandar_day_index') }}">
		<button class="btn btn-success">
			back to list</button>
	</a>

	{{ include('calandar_day/_delete_form.html.twig') }}
{% endblock %}
