<!DOCTYPE html>

<title>Hello FichejsonController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/AOUADI HADIL/Desktop/PI_devProject/pi_3a35/pi_3a35/src/Controller/FichejsonController.php'|file_link(0) }}">src/Controller/FichejsonController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/AOUADI HADIL/Desktop/PI_devProject/pi_3a35/pi_3a35/templates/fichejson/index.html.twig'|file_link(0) }}">templates/fichejson/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
